body {
    font-family: sans-serif;
    background-color: azure;
    text-align: center;
    margin-top: 50px;
    padding: 30px;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
}

header * {
    display: inline;
}

header p {
    margin: 20px;
    color: black;
    text-align: left;
}

header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}

#home {
    height:100vh;
    background-image: url('images/grandcanyon.jpg');
    background-size:cover;
    justify-content: flex-end;
    text-align: right;
    padding-right: 30px;
}

#home h1 {
    color: white;
}

#home h2 {
    color: white;
}

#about .about-img {
    width: 300px;
}

.about-inner {
    display: flex;
    align-items: flex-start;
}

.about-inner .content {
    flex: 1;
    padding: 10px;
    text-align: center;
}

.ref {
    text-align: left;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    flex: 0 1 32%;
    margin: .25em;
}

.card .content {
    flex: 1 1 0;
}


.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-envelope:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-researchgate:hover {
    color: #008000;
}

footer {
    text-align: center;
}

