html {
    font-family: 'Crimson Text', sans-serif, serif;
}

body {
    background-color: azure;
    text-align: center;
}

h1 {
    font-family: 'Averia Gruesa Libre', sans-serif, serif;
/*    letter-spacing: 0.33em;*/
}

h2 {
/*    letter-spacing: 0.25em;*/
    font-family: 'Quicksand', sans-serif, serif;
/*    text-transform: uppercase;*/

}

.ref {
    text-align: left
}