body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
}

header * {
    display: inline;
}

header p {
    margin: 20px;
    color: black;
    text-align: left;
}

header li {
    margin: 0.5em;
}

header li a {
    text-decoration: none;
}

a:hover {
    color: #2e4a75;
}

a:visited {
    color: blue;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}

#home {
    justify-content: flex-end;
    text-align: right;
}

h1 {
    color: white;
}

.highlight {
    background-color: black;
    padding: 0.1em 0.2em;
}

.ref {
    text-align: left;
}


.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 0.25em;
    flex: 1 0 1;
}

.social-icons {
    font-size: 36px;
    cursor: pointer;
}

.fa-square-envelope:hover,.fa-square-instagram:hover,.fa-square-twitter:hover,.fa-linkedin:hover, .fa-researchgate:hover {
    color: #2e4a75;
}

footer {
    text-align: center;
}

image {
    border-radius: 5px 5px 0 0;
}
